@import "../variables";

.categories {
  ul {
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      box-shadow: 1px 1px 5px rgb(235, 235, 235);
      cursor: pointer;
      transition: background-color $duration ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#192f01, 1%);
      }

      &.active {
        background-color: #192f01;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  ul {
    flex-wrap: wrap;

    li {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 450px) {
  .categories {
    overflow-x: auto;
    width: 100%;
    ul {
      flex-wrap: nowrap;
    }
  }
}
